.time-line-container>div:last-child .education__time>.education__line {
    display: none;
}

.content {
    display: grid;

    h2:first-of-type {
        margin-top: 1em;
    }

    h3 {
        font-size: 1.3em;
        text-decoration: underline;
        text-underline-offset: 0.5rem;
    }
}

/* Prose: hack to reduce the whitespace between paragraphs */
.prose :where(p):not(:where([class~=not-prose],[class~=not-prose] *)){
    margin-top: 1em;
    margin-bottom: inherit;
}

.prose {
    line-height: 1.5;
}