.time-line-container>div:last-child .education__time>.education__line {
    display: none;
}

.content {
    display: grid;

    h2:first-of-type {
        margin-top: 1em;
    }

    h3 {
        font-size: 1.3em;
        text-decoration: underline;
        text-underline-offset: 0.5rem;
    }
}

/* Prose: hack to reduce the whitespace between paragraphs */
.prose :where(p):not(:where([class~=not-prose],[class~=not-prose] *)){
    margin-top: 1em;
    margin-bottom: inherit;
}

.prose {
    line-height: 1.5;
}

/* Table Of Content */
.toc-wrapper {
    display: flex;
    gap: 4rem;
    flex-wrap: nowrap;
    align-items: flex-start;

    @media screen and (max-width: 768px) {
        gap: inherit;
        flex-wrap: wrap;
    }

    .sidebar {
        top: 2rem;
        flex-shrink: 0;
        border-radius: 0.25rem;
        border: 1px solid #eee;
        padding: 1rem;
        background-color: white;
        margin: 2rem 0;
        position: sticky;
        max-width: 320px;
        width: 320px;

        @media screen and (max-width: 768px) {
            position: inherit;
            margin: 1rem 0;
            width: 100%;
        }
    }

    .sidebar ul {
        list-style-type: none;
        padding: 0;
    }

    .sidebar li {
        margin-bottom: 0rem;
    }

    .sidebar li::before {
        content: "›";
        margin-right: 5px;
    }

    .sidebar a {
        color: var(--color-text);
        text-decoration: none;
        font-weight: inherit;
    }

    .sidebar a:hover {
        color: var(--color-primary);
    }

    .toc-title {
        font-size: 0.9rem;
        font-weight: bold;
        margin-bottom: 0rem;
        text-transform: uppercase;
    }

    .toc-item {
        font-size: 0.9rem;
        line-height: 1.1rem;
    }
}