---
interface Props {
    tagsList: string[];
    listUrl: string;
    badgeStyle?: 'filled' | 'outline';
}

import createSlug from 'src/lib/createSlug';

const { tagsList, badgeStyle, listUrl } = Astro.props;

---

<div class="my-4">
    {tagsList.map((tag) => (
         <a class={`badge ${badgeStyle === 'filled' ? 'badge-primary font-bold' : 'badge-outline'} rounded-full no-underline mr-1`}
          href={`${listUrl}/${createSlug(tag,tag)}`}>{tag}</a>
        ))
    }
</div>
